body {
  background-color: lightblue;
  }
h1 {
color: red;
text-align: center;
font-family:"Brush Script MT", cursive;
}
h2{
color: darkblue;
text-align: center;
font-family:"Brush Script MT", cursive;
}
h3{
color: purple;
text-align: center;
font-family:"Brush Script MT", cursive;
}
p {
color: green;
font-family: verdana;
font-size: 20px;
}
button{
background-color:darkorange;
font-weight:600px;
padding: 10px 10px;
cursor:pointer;
font-size: 15px;
border-radius: 32px;
}
table, th, td {
 border: 2px solid black;
 border-collapse: collapse;
 text-align:center;
 width:100%;
}
th, td {
 background-color: #ffff00;
 width:33.33%;
}
.menu2{
  overflow: hidden;
  width:100%;
  display: flex;
  justify-content: space-evenly;
}
.menu2 a{
  float: left;
  display: block;
  color: red;
  text-align:center;
  width:20%;
}
a{
  width: auto;
  font-size: 20px;
  display: inline-flex;
  justify-content: space-evenly;
  text-decoration:none;
  text-align:center;
  padding: 1% 1%;
}

a:link{
background-color: lightblue;
color: darkorange;
}
a:visited {
color: red;
}
a:hover, a:active {
background-color: lightgreen;
color: blue;
}
dl.a{
list-style-type: circle;
list-style-position: inside;
}
input[type=text] {
width: 100%;
padding: 0.5%;
margin: auto;
box-sizing: border-box;
border: 2px solid yellow;
border-radius: 32px;
background-color: lightgreen;
color: SlateBlue;
}
label {
display: block;
margin-bottom: 8px;
font-weight: bold;
color: green;
}
.topnav {
  overflow: hidden;
  background-color: yellow;
  width:100%;
  display: flex;
  justify-content: space-evenly;
}
.topnav a {
  float: left;
  display: block;
  background-color: yellow;
  color: red;
  text-align:center;
  width:33.33%;
}
.topnav a:hover {
  background-color: lightgreen;
  color: blue;
}
.header {
text-align: center;
  font-size: 40px;
  color: red;
  text-align: center;
  font-family:"Brush Script MT", cursive;
}
.hea2{
font-size: 35px;
text-align: center;
}
.hea3{
font-size: 30px;
text-align: center;
}
.contenedor{
  display: flex;
  justify-content: center;
  align-items:flex-start;
}
.columna {
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
  justify-content: center;
}
.columna img {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
ol{
color: green;
font-size: 20px;
list-style-type:square;
}
dd{
color: green;
font-size: 20px;
}
audio{
  display: flex;
    align-items: center;
    justify-content: center;
}
video{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*css responsive para movil*/
@media screen and (max-width:767px){
  body {
      background-color: lightblue;
      display: flex;
      flex-direction:column;
      align-items: center;
      justify-content: center;
      }
  .header {
      text-align: center;
      font-size: 30px;
      color: red;
      text-align: center;
      font-family:"Brush Script MT", cursive;
      }
  .hea2{
      font-size: 25px;
      }
  .hea3{
      font-size: 20px;
      }
      p{
        font-size: smaller;
      }
      a{
        font-size: smaller;
      }
      dl,ol,dd{
        font-size: smaller;
      }
  button{
      background-color:darkorange;
      font-weight:200px;
      padding: 5px 5px;
      cursor: pointer;
      font-size: 10px;
      border-radius: 16px;
  }
  .contenedor {
    width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  input[type=text] {
    width: 90%;
    padding: 0.5%;
  }

  .columna {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    justify-content: center;
  }
  form{
    width: 100%;
  }

}
/*css responsive para ordenador*/
@media screen and (min-width:1024px){
  .columna img {
    justify-content: center;
    width: 100px;
    height: 100px;
    transition: width 2s, height 4s;
  }
  .columna img:hover {
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
